.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiTypography-displayBlock {
  font-weight: bold;
  font-size: 20px;
  color: #50afbf;
}

.container-profile {
  width: 55%;
  margin: 0 auto;
}

.container-portfolio {
  width: 70%;
  margin: 0 auto;
}

.container-skill {
  width: 50%;
  margin: 0 auto;
}

.profile-link {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 16px 20px 16px 0;
}

.fab-profile {
  font-size: 20px !important;
  padding: 16px 5px 16px 16px !important;
  color: #039be5;
}

.sns-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #039be5;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  width: 40%;
}

.img-box {
  display: flex;
  justify-content: center;
}

.img_title {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.right {
  width: 60%;
}

.comment {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 2rem;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.link {
  display: block;
  cursor: pointer;
  height: 175px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.link:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link img {
  transition: 0.3s;
  width: 280px;
  height: 175px;
}

.link img:hover {
  transform: scale(1.05);
}

.work-center {
  color: rgb(66, 66, 66);
  font-size: 45px;
  margin-top: 0;
  text-align: center;
  font-family: Capriola, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
    Meiryo, sans-serif;
  font-weight: bold;
  margin: 15px 0 0 0;
}

.comment-center {
  text-align: center;
}

.card {
  margin: 0 0 20px 0;
  color: #fff !important;
  display: flex;
}

.card-comment {
  color: hsla(0, 0%, 100%, 1);
}

.red {
  background-color: #e44d26 !important;
}

.blue {
  background-color: #0765a7 !important;
}

.react {
  background-color: #61dbfb !important;
}

.firebase {
  background-color: #ffcb2b !important;
}

.fab {
  font-size: 80px;
  padding: 16px;
}

.sample-app {
  font-family: "Capriola", "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ ProN W3",
    Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
  font-size: 20px;
  color: #424242;
}

.paper-left {
  width: 40%;
}

.paper-right {
  width: 60%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.paper-right img {
  width: 700px;
  height: 420px;
}

.paper-comment {
  line-height: 1.5;
  padding-right: 30px;
}

.paper-link {
  list-style: none;
  padding: 0;
}

.paper-link li a {
  color: #039be5;
  text-decoration: none;
  margin-bottom: 5px;
}

.contact-center {
  text-align: center;
}

.contact-comment {
  text-align: center;
  margin: 0;
}

.closeBtn {
  position: absolute !important;
  right: 0;
  top: 0;
}

@media screen and (max-width: 959px) {
  .container-profile {
    width: 85%;
  }

  .makeStyles-center-11 {
    margin-top: 15px !important;
    font-size: 32px !important;
  }

  .row {
    display: block;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .makeStyles-paper-14 {
    padding: 30px !important;
    display: block !important;
  }

  .makeStyles-title-12 {
    display: block !important;
    text-align: center !important;
    position: unset !important;
  }

  .container-portfolio {
    width: 85%;
  }

  .work-center {
    font-size: 32px;
    margin: 10px;
  }

  .works-list {
    overflow: hidden;
    justify-content: center;
  }

  .works-list li {
    margin: 10px;
  }

  .makeStyles-title-15 {
    position: unset !important;
  }

  .container-skill {
    width: 80%;
  }

  .fab {
    display: flex;
    justify-content: center;
  }

  .MuiTypography-h5 {
    text-align: center !important;
  }

  .card {
    display: block;
  }

  .makeStyles-center-16 {
    margin: 10px !important;
    font-size: 32px !important;
  }

  /* .makeStyles-title-12 {
    margin: 16.75px 16.75px;
  } */

  .paper-comment {
    padding-right: 0;
  }

  .makeStyles-root-13 {
    width: 80% !important;
  }

  .makeStyles-root-20 {
    width: 80% !important;
  }

  .makeStyles-title-21 {
    position: unset !important;
  }

  .makeStyles-btn-15 {
    margin-bottom: 30px !important;
    display: block !important;
  }

  .makeStyles-root-16 {
    width: 80% !important;
  }

  .makeStyles-title-17 {
    position: unset !important;
  }

  .contact-comment {
    font-size: 14px;
  }

  .contact-center {
    font-size: 14px;
  }

  .MuiDrawer-paper {
    height: auto !important;
  }

  .makeStyles-drawerPaper-8 {
    width: 160px !important;
  }

  .makeStyles-modal-13 {
    display: block !important;
    overflow: scroll !important;
  }

  .paper-left {
    width: 100%;
  }

  .paper-right {
    width: 100%;
    overflow: hidden;
  }

  .work-box > p {
    text-align: center;
  }
}

/* .paper-right img {
  width: 700px;
  height: 420px;
} */
